<div class="single-course create-form">

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input [(ngModel)]="title"
                       type="text"
                       class="form-control"
                       placeholder="Title">
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Course duration</label>
                <input [(ngModel)]="duration"
                       type="text"
                       class="form-control"
                       id="exampleInputEmail1"
                       placeholder="Duration">
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="date">Date</label>
                <input type="datetime"
                       class="form-control"
                       id="date"
                       placeholder="date">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <textarea
                        [(ngModel)]="description"
                        class="form-control" rows="3">
                </textarea>
            </div>
        </div>
    </div>

    <div class="row author-selector">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-5 col-lg-5">
                    <select multiple class="form-control">
                        <option>Mike</option>
                        <option>Ivan</option>
                        <option>Denis</option>
                        <option>TestUser</option>
                    </select>
                </div>
                <div class="col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary">></button>
                    <button type="button" class="btn btn-default"><</button>
                </div>
                <div class="col-md-5 col-lg-5">
                    <select multiple class="form-control">
                        <option>Yafim</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <button type="button" class="btn btn-primary" (click)="onFormClose()">Close</button>
            <button type="button" class="btn btn-default" (click)="onCourseCreate()">Create</button>
        </div>
    </div>
</div>