<div class="row course-page">
    <div class="col-md-12 col-lg-12 control-panel">
        <course-control-panel
                [(searchText)]="searchText"
                (onCourseSearch)="onCourseSearch()"
                (onCourseClear)="onCourseClear()"
                (onAddNewClick)="onAddNewClick()"
        >
        </course-control-panel>
    </div>

    <div class="col-md-12 col-lg-12 courses" *ngIf="showCreateCourseForm">
        <course-create-form (onAddNewCourse)="onAddNewCourse($event)" (onCreateFormClose)=""></course-create-form>
    </div>

    <div class="col-md-12 col-lg-12 courses">
        <courses [courses]="courses" (onCourseDelete)="onCourseDelete(id)"></courses>
    </div>
</div>
