.single-course {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;

}

.course-heading h3,
.course-heading h4,
.course-heading h5{
    display:  inline-block;
}

.course-heading h4 {
    margin-left: 10px;
}

.course-date-created {
    display: inline-block;
    margin-top: 17px;
    font-size: 13px;
}

.edit-header {
    margin-bottom: 7px;
}

.top-rated-course {
    background: #FFEBEE;
}