<div class="single-course" [courseBorder]="course.date" [ngClass]="{'top-rated-course': course.topRated}">

    <div class="row">
        <div class="col-md-10 col-lg-10 course-heading">
            <h3>{{course.title | uppercase}} | </h3>
            <h4> {{course.duration | duration}}</h4>
            <span *ngIf="course.topRated" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        </div>

        <div class="col-md-2 col-lg-2 course-date-created" >
            <span>posted: {{course.date | date}}</span>
            <span>Author{{course.authors.length > 1 ? 's' : ''}}: <span *ngFor="let author of course.authors; let i = index">
                {{author}}{{course.authors.length - 1 == i ? '' : ','}}
            </span></span>

        </div>

    </div>

    <div class="row">
        <div class="col-md-10 col-lg-10">
            {{course.description}}
        </div>

        <div class="col-md-2 col-lg-2">
            <button [routerLink]="['./'+course.id]" type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
        </div>
    </div>
</div>