<div class="main container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 header">
            <page-header></page-header>
        </div>

        <div class="col-md-12 col-lg-12 course-page"  *ngIf="isUserLogged">
            <course-page></course-page>
        </div>

        <div class="col-md-5 col-lg-5  col-md-offset-3 col-lg-offset-3" *ngIf="!isUserLogged">
            <login-form></login-form>
        </div>

        <div class="col-md-12 col-lg-12 header">
            <copyright></copyright>
        </div>
    </div>
</div>
