<div class="login-form">
    <div *ngIf="!isUserLogged" class="row login-form">
        <div class="form-group col-md-12 col-lg-12">
            <label for="userName">User name</label>
            <input [value]="userName" (input)="userName=$event.target.value" id="userName" placeholder="User name" class="form-control">
        </div>

        <div class="form-group col-md-12 col-lg-12">
            <label for="password">Password</label>
            <input [(ngModel)]="password" type="password" id="password" placeholder="Passworde" class="form-control">
        </div>

        <div class="col-md-6 col-md-6">
            <button type="button" class="btn btn-primary" (click)="logInUser()">Login</button>
        </div>
    </div>
</div>