<div class="row" *ngIf="courses.length > 0">
    <div class="col-md-12 col-lg-12">
        <h3>Courses list</h3>
    </div>
    <div class="col-md-12 col-lg-12">
        <div *ngFor="let course of courses">
            <single-course [course]="course" (onCourseDelete)="openAlert($event)" (onCourseEdit)="editCourse($event)"></single-course>
        </div>
    </div>
    <div class="col-md-12 col-lg-12">
        <courses-pagination
                *ngIf="totalCount > coursesOnPage"
                [coursesOnPage]="coursesOnPage"
                [current]="currentStep"
                [totalCount]="totalCount"
                (navigateToStep)="navigateToStep($event)">

        </courses-pagination>
    </div>
</div>

<div *ngIf="showDeleteAlert">
    <course-confirmation-alert [courseInfo]="courseInfo" (onClose)="closeAlert()" (onSubmit)="deleteCourse($event)"></course-confirmation-alert>
</div>